.header, 
.body-1, 
.footer {
    padding-right: 10px;
    padding-left: 10px;
}

#container {
    display: flex;
    flex: auto;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex: auto;
    width: 100%;
    height: auto;
    background-color: #074369;
    margin-left: -10px;
    margin-top: -10px;
    align-items: center;
}

.logo {
    flex: auto;
    padding-top: 30px;
    padding: 20px;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(.9rem, 1.6rem, 2.1rem);
    color: #f2f2f2;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: row;
}

img {
    width: 5rem;
    height: 5rem;
    object-fit: scale-down;
  }

.header-links {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.link {
    padding-top: .1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(.5rem, .9rem, 1.5rem);
    padding-right: 24px;
    padding-left: 20px;
    color: #e5e5e5;
}

a {
    text-decoration: none;
    color: #e5e5e5;
}

a:hover {
    color: #ffffff; 
  }



.body-1 {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
    width: 100%;
    background-color: #f2f2f2;
    background-image: url('./images/circuits.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;  /* Ensure the image is centered */
    background-size: cover;
    height: 80%;
}

.body-1-content {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    margin-top: 30%;
    margin-bottom: 30%;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #21383b;
    background-color: #f2f2f2;
}

.body-2-content {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30%;
    margin-bottom: 30%;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #21383b;
    background-color: #f2f2f2;
    border-radius: 10em;
}

ul {
    list-style-type: none;
}

.footer {
    display: flex;
    flex: auto;
    width: 100vw;
    height: 40px;
    background-color: #074369;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    justify-content: center;
    padding-top: 20px;
}

.footer-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(.5rem, .9rem, 1.1rem);
    color: #f2f2f2;
    background-color: #074369;
}

@media only screen and (max-width: 600px) {
    .header, .footer {
        flex-direction: column; /* Stack elements vertically in header and footer */
        padding-bottom: 10px;
    }

    .header-links .link, .logo {
        width: 100%; /* Full width for better access */
        text-align: center; /* Center align the text */
        padding: 5px 0; /* Reduce padding */
    }

    .body-1-content {
        margin: 10px; /* Reduce margin to use space more efficiently */
        font-size: 16px; /* Smaller text */
    }

    img {
        width: 8rem; /* Adjust image size */
        height: 8rem;
    }
}