#container {
    display: flex;
    flex: auto;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex: auto;
    width: 100%;
    height: 120px;
    background-color: #074369;
    margin-left: -10px;
    margin-top: -10px;
    padding-right: 10px;
    align-items: center;
}

.logo {
    flex: auto;
    padding-top: 30px;
    padding: 20px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: flex;
    width: 50%;
    justify-content: right;
    align-items: center;
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-right: 24px;
    padding-left: 20px;
    color: #e5e5e5;
}

a {
    text-decoration: none;
    color: #e5e5e5;
}

a:hover {
    color: #ffffff; 
  }

.body-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
    padding-right: 10px;
    width: 100%;
    height: 80%;
    background-color: #f2f2f2;
    background-image:url('code.jpeg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-1-content {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30%;
    margin-bottom: 30%;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #21383b;
    background-color: #f2f2f2;
}

.body-2-content {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30%;
    margin-bottom: 30%;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #21383b;
    background-color: #f2f2f2;
}

.footer {
    display: flex;
    flex: auto;
    width: 100%;
    height: 40px;
    background-color: #074369;
    margin-left: -10px;
    margin-top: -10px;
    padding-right: 10px;
    margin-bottom: -10px;
    justify-content: center;
    padding-top: 20px;
}

.footer-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #f2f2f2;
    background-color: #074369;
}